nav {
    position:fixed;
    padding: 0px;
    margin-top: 0px;
    border-bottom: 1px solid black;
    background-color: #eca1a6;
    width: 100%;
    height: 40px;
    width: 100%; 
    height:40px;
    opacity: 100%; 
    background: rgba(236, 161, 166, .4);
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #d6cbd3;
}
img.ViviClass {
    border-radius: 100%;
    animation: headshot 4s;
  }
a.ViviClassNav {
    float: right;
    font-family:  Arial, Helvetica, sans-serif;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    opacity: 100%; 
}  
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}
h1.ViviClassBody{
    font-family:  'Arial', Helvetica, sans-serif;
    color: black;
    background-color: #bdcebe; 
    position: absolute;   
    font-size: 36px;
    border-color: black;
    border-top: 5px;
    animation: name 4s;
    
}
h2.ViviClassBody{
    font-family: Brush Script MT;
    color: black;
    position: absolute;   
    font-size: 55px;
    border-color: black;
    animation: intro 5s;
    top: -5px;
    padding: 20px;
    width:100%;
    height: 30%;
    background-image: linear-gradient(#eea29a, #d6cbd3);
}
p.ViviClassBody{
    font-family:  Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    left: 20px;
    top: 400px;
    border-radius: 30%; 
    font-size: 25px;
    padding: 30px;
    border-color: black;
    animation: intro 1s;
    border-radius: 150px 150px 0 0;
}
.parallax {
    /* The image used */
    background-image: url("http://tile.loc.gov/image-services/iiif/service:gmd:gmd381:g3813:g3813m:la000454/full/pct:25/0/default.jpg");
  
    /* Set a specific height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 p.Contact{

 }
 .box{
    position: absolute;
    left: 73%; 
    width: 450px;
    height: 600px;   
    top: 5%;
    background-color: white;
    border: 12px solid white;
    border-radius: 25%;
}
div.animation{
    animation: mymove 3s;
}
.text-typing {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:35px;
    font-family:monospace;
    border-radius:50px;
  }
  .text-typing h1 {
    position: absolute;
    top: 300px;
    margin:0px;
    width: 70px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 5s steps(22,end) forwards,
            blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }}

@keyframes intro {
    from {top: 90%;}
    to{top}
}
@keyframes name {
    0% {
        width: 0px;
        height: 0px;
    }
    30%{
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }
}
@keyframes headshot {
 from {top: 90%}   
 to {top: 4.5%}
}